version: "3"

services:
  triton:
    container_name: triton
    image: triton
    restart: always
    environment:
      - TG_API_TOKEN=${TG_API_TOKEN}
      - PATH_TO_SAVE=./audios/
      - ENDPOINT_URL=${ENDPOINT_URL}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BUCKET=${BUCKET}
      - INBOX=${INBOX}